.product span {
  font-size: 100px;
}

.product {
  margin:20px auto;
}

.wrapper-product {
  margin:auto;
  max-width: 320px;
  border: 1px solid rgb(15, 118, 144);
  padding: 20px;
  font-size: 20px;
  margin-bottom: 20px;
}

.wrapper-product button {
  margin:10px;
  min-width: 100px;
  padding: 5px 15px;
  font-size: 20px;
  background: lightgoldenrodyellow;
  border: rgb(181, 245, 79) solid 1px;
  border-radius: 4px;
}

.wrapper-product button:hover{
  background-color: rgb(15, 118, 144);
  color:rgb(243, 243, 243);
  border:1px solid whitesmoke;
  cursor: pointer;
}